/* GERAL*/
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*tabela*/

body{
    background-color:white;
    color: grey;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0 auto;
       
}

td, th{
    border-right: 1px solid lightgray;
}

.espaço-em-branco {
    border-left: 0px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,.08);
}

.header {
    font-size: 14px;
}
.header__azul {
    background-color: #0078C1;
    color: white;
    padding: 15px;
}

.header__verde {
    background-color: #009E2C;
    color: white;
    padding: 15px;
}

.header__segunda-linha{
    padding: 15px;
    text-align: center;
}

/*tbody*/

.body__coluna1 {
    padding: 10px;
}

.body_primeira-linha {
    border-top: 1px solid lightgrey;
}

.body__resultados {
    text-align: center;
}

.check-azul {
    color: #0078C1;
}

.check-verde {
    color: #009E2C;
}

/*botões*/

.btn .header__segunda-linha{
    text-align: center;
}
.btn {
    padding: 5px;
    border-radius: 5px;
    background-color: orangered;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 2s;
}

.btn-laranja:hover {
    box-shadow: 0 2px 2px grey;
    transform: translate (-5px);
}